
<h3 class="club-name c4">
  <%= @club.name %>
</h3>
<p class="info c5">
<%= fa_icon 'phone' %>	<%= number_to_phone(@club.phone, area_code: true) %>  
</p>
<p class="info c5">
<%= fa_icon 'home' %><%= @club.address %>  
</p>

 
