<% provide(:title, 'All Clubs') %>
<div class="row">
  <aside class="col-sm-3">
<%= render 'clubfinder' %>
  </aside>
  <div class="col-sm-9">
<%= render 'sort' %>
    <%= render 'paginate_clubs' %>
    <ul class="users list-group">
      <%= render @clubs %>
    </ul>
    <%= render 'paginate_clubs' %>
  </div>
</div>

