<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @club.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @club.show %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
