<div class="row welcome">
  <div class="col-sm-12">
          <div class="panel">

  <div class="panel-body">
  <div class="col-sm-7">
    <h4><%= link_to image_tag('4.png') + "Feedstreem", root_path, id: "welcome-logo" %><h4>
    <h4 class="continue">Please Login or Register to continue</h4>
  </div>
    <div class="col-sm-5 mb10">
    <h3 class="login"><%= fa_icon 'sign-in' %> Login</h3>
    <%= render 'sessions/new' %>
  </div>
  </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<h3 class="havent-signed">Haven't Registered Yet?</h3>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel">

  <div class="panel-body">
    <center><%= image_tag 'panel1.jpg' %></center>
    <p class="tour-header">Free Drinks</p>
     <p class="tour-subject">Earn points for stuff like free drinks!</p>
  </div>
</div>

  </div>
  <div class="col-md-4">
        <div class="panel">

  <div class="panel-body">
   <center> <%= image_tag 'panel2.jpg' %> </center>
        <p class="tour-header">Front of Line Passes</p>
     <p class="tour-subject">Get to the front of the line fast</p>

  </div>

  </div>
</div>
  <div class="col-md-4">
            <div class="panel">

  <div class="panel-body">
   <center><%= image_tag 'panel3.jpg' %></center>
        <p class="tour-header">And Much More</p>
     <p class="tour-subject">You'll be a whore in no time!</p>
  </div>

  </div>
</div>
 </div>