<% if signed_in? %>
<div class="row">
  <aside class="col-md-2 user-sidebar">
    <section>
      <%= render 'shared/user_info' %>
    </section>
      <section>
      <%= render 'shared/points' %>
  </section>
    <section>
     <%= render 'users/buddy_list' %>
   </section>
  <section>
    Search Site
   </section>
</aside> 
<div class="col-md-8">
  <div class="panel-dark">
Calendar
  </div>
</div>
<aside class="col-md-2 user-sidebar">
  <section>
  Recent Posts 
  </section>

  <section>
    
     <%= render 'shared/feed' %> 
  </section>

</aside>
</div>
<% else %>
<div class="container">
<%= render 'welcome' %>
</div>
<% end %>



