<% if signed_in? %>
<div class="row">
  <aside class="col-sm-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
     <%= render 'users/buddy_list' %>
   </section>
   <section>
    <%= render 'shared/points' %>
  </section>
</aside> 
<div class="col-sm-9">
 <%= render 'shared/feed' %>
</div>
</div>
<% else %>
<%= render 'welcome' %>
<% end %>



