<% provide(:title, 'All Users') %>
<div class="row">
	<aside class="col-sm-3">

<%= render 'peoplefinder' %>
	</aside>
	<div class="col-sm-9">
		<%= render 'paginate_users' %>
		    <div class="dropdown">
  <a data-toggle="dropdown" href="#">Sort By <%= fa_icon 'angle-down' %></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
   Popularity<br>
   Newest
  </ul>
</div>
		<ul class="users list-group">
			<%= render @users %>
		</ul>
		<%= render 'paginate_users' %>
	</div>
</div>