<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> 
        <span class="h6"><%= fa_icon 'globe' %> <%= @user.location %></span>
        <span class="h6">
<%= fa_icon 'edit' %> Check-ins: <%= current_user.checkins.count %>  
</span>
      </h1>


    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if signed_in? %>
  </aside>
  <div class="col-sm-8">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>